body {
	background-color:white;
	height:100vh;
	width: 100vw;
	display:flex;
	flex-wrap:wrap;
}
/*everything below is for the dropdown menu*/
.dropbtn {
    background-color: pink;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: pink;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: purple;
}
/*everything above is for the dropdown menu*/

.row{
	width:50%;
	height:%;
	background-color:purple;
	display:flex;
}

.row2{
	width:50%;
	height:100%;
	background-color:pink;
	display:flex;
}

.butt{
	width:10vw;
	height:10vh;
	margin-top: 700px;
	align:left;
	
	
   
}

.pic{
	margin-top:275px;
	
}

/*this is for the media query*/
@media screen and (max-width:800px){
	.row{
		width:50vw;
		height:100vh;
	}
	.row2{
		width:50vw;
		height:100vh;
	}
